# udev rule file: place in /etc/udev/rules.d
# Looking Glass superstereoscopic display
# Note: USB ID is Microchip owned. Unknown if it is required 
# to also verify name strings.
#
# Two rules to cover different libhidapi implementations
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="ef7e", MODE="0660", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="ef7e", MODE="0660", GROUP="plugdev"
